<article>
  <h1>{{ planet.name | uppercase }}</h1>
  <p class="description">{{ planet.overview.content }}</p>
  <p class="source">
    Source :
    <a target="_blank" [href]="planet.overview.source">
      Wikipedia <img src="/assets/icon-source.svg" alt="Arrow Icon" />
    </a>
  </p>

  <div class="btns">
    <button (click)="handleImageChange('planet', planet.name)">
      <span>01</span> Overview
    </button>
    <button (click)="handleImageChange('internal', planet.name)">
      <span>02</span> Internal Structure
    </button>
    <button (click)="handleImageChange('geology', planet.name)">
      <span>03</span> Surface Geology
    </button>
  </div>
</article>
