:host {
  display: block;
}

.description {
  margin-block: 24px;
}

.source {
  color: rgb(255, 255, 255, 0.5);

  a {
    font-weight: 700;
  }

  img {
    display: inline-block;
    margin-left: 8px;
  }
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  display: flex;
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, 0.2);
  font-size: 12px;
  letter-spacing: 2.5px;
  color: white;
  text-transform: uppercase;
  font-family: 'league spartan';
  font-weight: 700;

  span {
    opacity: .5;
    margin-right: 28px;
  }
}