* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  border: none;
  outline: none;
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}