@use './styles/reset.scss';
@use './styles//planets.scss';
@use './styles/typography.scss';

body {
  background-color: #070724;
  color: white;
  font-family: 'League Spartan', sans-serif;
  background-image: url('./assets/background-stars.svg');
}