:host {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 350px;
  max-width: 1100px;
  margin-inline: auto;
  margin-top: 126px;
}

img {
  justify-self: center;
}