:host {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 350px;
  max-width: 1100px;
  margin-inline: auto;
  margin-top: 126px;
}

.planet-image {
  justify-self: center;
  position: relative;

  .geology-image {
    position: absolute;
    width: 129px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}